@import './reset.scss';

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
}

* {
  font-family: inherit;
}

.app {
  background-color: #221832;
  display: flex;
}

b {
  font-weight: bold;
}
