@import './reset.scss';

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.app {
  font-family: helvetica, arial, sans-serif;
  background-color: #221832;
  display: flex;
}

b {
  font-weight: bold;
}
